<h1>Our rules and license</h1>
<div class="content-block">
  <p>
    Welcome to our website, where we publish collections of images brought to life using neural networks. Our desire for
    discovery and learning new things was embodied in a new hobby - the selection of unique formulas for prompts. Each
    collection we create has its own unique style and approach.
  </p>
  <p>
    On the page of each collection you will find not only visual inspiration, but also the prompt that served as the
    basis for its creation. Just copy this prompt and create your own amazing images. And if you prefer to enjoy our
    art, feel free to download the images you like for free for your personal use.
  </p>
  <p>
    Thank you for visiting our website! Your opinion is important to us and we would appreciate any feedback.
  </p>
</div>