<h1>Our rules and license</h1>
<div class="content-block">
  <p>
    All rights to the content posted on our website are owned by us and protected by copyright law. All materials are provided solely for free personal use. Please be aware that transferring or distributing this content to third parties without our consent is prohibited.
  </p>
  <p>
    If you have any questions or wish to discuss commercial use of our content, please contact us via email. We are ready to consider any proposals and explore potential collaboration opportunities. Your inquiry is important to us, and we are eager to assist you in effectively utilizing our content.
  </p>
</div>
