<div class="container text-center rounded-5 content-block">
  <div class="row">
    <% wallpapers.each do |wallpaper| %>
      <div class="col-xl-4 col-md-6 col-sm-6">
        <%= link_to wallpaper_path(wallpaper), class: "col-xl-4 col-md-6 col-sm-6 violet-link" do %>
          <%= image_tag wallpaper.picture.variant(:preview), class: "rounded-4" %>
          <p>
            <%= wallpaper.title %>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="d-flex flex-row-reverse pagination-flex">
  <%= paginate wallpapers %>
</div>