<div id="<%= dom_id wallpaper %>">
  <h4><%= wallpaper.title %></h4>
  <%= image_tag wallpaper.picture.variant(:preview) %>
  <p>
    <%= link_to "Show this wallpaper", admin_wallpaper_path(wallpaper) %>
  </p>
  <hr>
</div>
