<h1>Editing wallpaper</h1>

<%= render partial: "form", locals: { wallpaper: @wallpaper, collections: @collections } %>

<br>

<div>
  <%= link_to "Show this wallpaper", admin_wallpaper_path(@wallpaper) %> |
  admin_wallpapers_path
</div>
