<h2>Free Craft 4k Wallpapers for iPhone and Samsung</h2>
<div class="container text-center rounded-5 content-block">
  <div class="row">
    <% @wallpapers.each do |wallpaper| %>
      <div class="col-xl-4 col-md-6 col-sm-6">
        <%= image_tag wallpaper.picture.representation(resize_to_limit: [280, 609]), class: "rounded-4" %>
        <p>
          <%= wallpaper.title %>
        </p>
      </div>
    <% end %>
  </div>
</div>
