<h2>Here are many awesome wallpapers</h2>
<div class="container text-center">
  <div class="row">
    <% @wallpapers.each do |wallpaper| %>
      <div class="col-xl-4 col-md-6">
        <%= image_tag wallpaper.picture.representation(resize_to_limit: [280, 609]) %>
      </div>
    <% end %>
  </div>
</div>
