<h1>Categories</h1>
<%= link_to "Add", new_admin_category_path, class: "btn btn-success" %>
<div class="row">
  <div class="col-xxl-4 col-xl-4 col-md-4 col-sm-6">
    <table class="table table-striped">
      <tr>
        <th>Category</th>
        <th>Actions</th>
      </tr>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.name %></td>
          <td>
            <%= render partial: 'actions', locals: {category: category} %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
