<h2>Categories</h2>
<ul>
  <li>Abstract</li>
  <li>Animal</li>
  <li>Anime</li>
  <li>Apple</li>
  <li>Architecture</li>
  <li>Army</li>
  <li>Artistic</li>
  <li>Bikes</li>
  <li>Cars</li>
  <li>Christmas</li>
</ul>
<%= button_to "Show all", root_url, class: "btn btn-info" %>