<footer class="mt-5">
  <div id="footer-container" class="mx-auto my-0">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="d-flex flex-wrap align-items-start">
            <%= link_to 'Privacy Policy', static_pages_privacy_policy_path, class: "footer-link link-dark link-underline link-underline-opacity-0 link-opacity-75-hover" %>
            <%= link_to 'Contact', static_pages_contact_path, class: "footer-link link-dark link-underline link-underline-opacity-0 link-opacity-75-hover" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div id="copyright" class="col">
          <p>
            © 2023 wall-paper.space. All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>